<div class="px-4 py-8">
  {% paginate collection.products by 3 %}
    <h1 class="text-3xl text-center">{{ collection.title }}</h1>

    <div class="max-w-6xl mx-auto">
      <div class="grid grid-col-1 md:grid-cols-3 gap-4">
        {% for product in collection.products %}
          <div class="w-full py-6 px-3">
            <div class="border bg-white shadow-lg rounded-lg overflow-hidden">
              {% if product.featured_image %}
                <a href="{{ product.url }}">
                  <div class="h-80 overflow-hidden">
                    <img
                      class="w-full h-full object-cover"
                      src="{{ product.featured_image | img_url: 'medium' }}"
                      alt="{{ product.featured_image.alt }}">
                  </div>
                </a>
              {% else %}
                {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
              {% endif %}
              <div class="flex flex-col p-4">
                <span class="text-sm">{{ product.vendor }}</span>
                <a href="{{ product.url }}" class="text-gray-700 uppercase font-medium">{{ product.title }}</a>
                <p class="text-gray-500">{{ product.price | money }}</p>
              </div>
            </div>
          </div>
        {% else %}
          <p>No products found</p>
        {% endfor %}
      </div>
    </div>

    {% render 'pagination', pagination: paginate %}

  {% endpaginate %}
</div>